body {
      Background-color:
}

h1{
   color: ;
   text-align: center;
   font-size: 64px;
   font-family: 'Lobster', cursive;
}

h2{
  color:
  font-size: 32px;
  font-family: font-family: 'Dancing Script', cursive;
}
